* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  background: url("https://img.freepik.com/free-vector/white-background-with-wavy-lines-copy-space_23-2148822145.jpg?w=740&t=st=1693141824~exp=1693142424~hmac=7ee18594ffd8706e462479224cbc69a62dfec28b60331a9b12da984eba0076b1");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  //border: 1px solid black;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 10px 20px 20px;
  margin: 20px;
  border-radius: 20px 0px 20px 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left,
.right {
  flex-basis: 50%;
}
.left h1 {
  font-size: 50px;

  margin-bottom: 20px;
}
.left {
  padding-left: 70px;
  max-width: 450px;
}
.left p {
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  background-color: grey;
  padding: 10px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
}

.right img {
  width: 100%;
  height: 450px;
}
